    form
    {
     	padding-top: 100px;

   
    }
    .header-text
    {
     	
     	font-size: 20px;
     	font-weight: bold;
    }
    

	.form-input
	{
		max-width: 300px;
        padding: 30px 35px 45px;
        margin: 0 auto;
        background-color:#CCCCCC;
        border: 1px solid rgba(0,0,0,0.1);
        height: inherit;
    }
    .form-button
	{
		max-width: 300px;
        padding:20px ;
        margin: 0 auto;
        background-color:#F0F0F0;
        border: 1px solid rgba(0,0,0,0.1);
        height:100px;
    }

    .title
    {
    	margin-top: 8px;
    	color: white;

    }
    .btn
    {
    	margin-top:-10px;
    }
    .login
    {
    	color: white;
    	margin-top: 15px;
    }
    
   .bar
   {
   	margin-top: 15px;
   	color: white;
   	max-height: 10px;
   }
   .navbar1
   {
   	background-color: #027CD5;
   }
   .navbar
   {
   	margin-top: 60px;
   }
a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: black;
    
}


.panel-default>.panel-heading
{
	background-color: #444444;
	color: white;
}
.copy
{
	margin-top:-20px;
}
.aboutus
{
	margin-top:8px;
}
.icon
{
	margin-top: 15px;
	margin-right: -200px;
}
.touch
{
	margin-right: 100px;
	margin-top: 20px;
}
.carousel
{
	width: 600px;
	height: auto;
	margin: 0 auto;
}
.dropdown-menu li:not(:last-child)
{
   border-bottom: 1px solid black;
}
.dropdown-menu ul
{
	margin: 0;
	padding: 0;
}
.rs
{
	font-size: 20px;

}
.aboutus
{
	margin-top: 20px;
}

.about
{
	background-color: #F8F8F8;
}


