    form
    {
     	padding-top: 100px;
   
    }
    .header-text
    {
     	
     	font-size: 20px;
     	font-weight: bold;
    }
	.form-input
	{
		max-width: 300px;
        padding: 30px 35px 45px;
        margin: 0 auto;
        background-color:#CCCCCC;
        border: 1px solid rgba(0,0,0,0.1);
        height: inherit;
    }
    .form-button
	{
		max-width: 300px;
        padding:20px ;
        margin: 0 auto;
        background-color:#F0F0F0;
        border: 1px solid rgba(0,0,0,0.1);
        height:100px;
    }
    
    	
   
    
